@model IEnumerable<lab7.Models.TMovie>


<a asp-action="lab7" asp-route-year=2000><p>2000-аас хойш</p></a>
<a asp-action="lab7" asp-route-year=1999><p>2000-аас өмнө</p></a>


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Released)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.Rating)

			</th>

		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Released)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Rating)

				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TidNavigation.Id)
				</td>
			</tr>
		}
	</tbody>

</table>