@model dynamic

<h2>Edit Branch</h2>
@{
    ViewBag.bid = @Model.Id;
}

<form action="@Url.Action("Edit", "Branch", new { id = Model.Id })" method="post">
    @Html.AntiForgeryToken()  <!-- CSRF Token -->
  
    <input type="hidden" name="id" value="@Model.Id" />
    <div>
        <label for="branchName">Branch Name:</label>
        <input type="text" name="branchName" value="@Model.Name" required />
    </div>

    <button type="submit">Save Changes</button>
</form>
